apiVersion: v1
kind: Service
metadata:
  labels:
    app: shipping-service
  name: shipping-service
spec:
  ports:
  - port: 50051
    protocol: TCP
    targetPort: 50051
  selector:
    app: shippingservice
  type: ClusterIP
