apiVersion: v1
kind: Service
metadata:
  labels:
    app: paymentservice
  name: paymentservice  # نام سرویس باید با نام pod هماهنگ باشد
spec:
  ports:
  - port: 50051
    protocol: TCP
    targetPort: 50051
  selector:
    app: paymentservice
  type: NodePort
