apiVersion: v1
kind: Service
metadata:
  labels:
    app: currency-service
  name: currency-service
spec:
  ports:
  - port: 7000
    protocol: TCP
    targetPort: 7000
  selector:
    app: currencyservice
  type: NodePort
